{% extends "base.html" %}

{% block content %}
<div class="body-wrap">
<section class="archives-wrap">

    <div class="archive-year-wrap">
        <a href="#" class="archive-year">2015</a>
    </div>
    {% for post in post_list %}
        <div class="archives">
        <article class="archive-article archive-type-post">
            <div class="archive-article-inner">
                <header class="archive-article-header">
                    <div class="article-meta">
                         <a href="#" class="archive-article-date">
                            <time datetime="post.date_time" itemscope="datepublished">{{ post.date_time|date:"Y-M-d" }}</time>
                         </a>
                    </div>
                    <h1 itemscope="name">
                        <a class="archive-article-title" href="#">{{ post.title }}</a>
                    </h1>
                    <div class="article-info info-on-right">
                        <div class="article-tag tagcloud">
                            <ul class="article-tag-list">
                                <li class="article-tag-list-item">
                                    <a class="color5" href="#" style="font-size: 12px">
                                        {{ post.category }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </header>
            </div>
        </article>
        </div>
    {% endfor %}
</section>
</div>



{% endblock %}