{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
    {% for post in post_list %}
        <div class="body-wrap">
        <article id="post-logic-of-chord" class="article article-type-post" itemscope itemprop="blogPost">
            <div class="article-meta">
                <a href="#" class="article-date">
                    <time datetime="{{ post.date_time }}" itemprop="datePublished">{{ post.date_time|date:"M d" }}</time>
                </a>
            </div>
            <div class="article-inner">
                <input type="hidden" class="isFancy" />
                <header class="article-header">
                    <h1 class="article-title" itemprop="name">
                        {{ post.title }}
                    </h1>
                </header>
                <div class="article-info article-info-post">
                    <div class="article-tag tagcloud">
                        <ul class="article-tag-list">
                            <li class="article-tag-list-item">
                                <a class="article-tag-list-link" href="#">{{ post.category }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix">

                    </div>
                </div>
                <div class="article-entry" itemprop="articleBody">
                    {{ post.content|custom_markdown }}
                </div>
            </div>
            </nav>
        </article>
        {% include "duoshuo.html" %}
    </div>
    {% endfor %}
{% endblock %}